h1 {
  color: rgb(0, 0, 194);
  font-size: 50px;
}
.example1 {
  border: 2px solid;
  /* mengatur ketebalan border */
  padding: 10px;
  border-radius: 25px;
  /* border radius untuk megatur lengkung border */
}
h4 {
  border-left: 5px solid gold;
  /* mengatur ketebalan border left */
  padding: 5px;
  font-size: 30px;
  color: rgb(0, 0, 194);
}
.gambar-bulat {
  width: 180px; /* Atur lebar */
  height: 180px; /* Atur tinggi yang sama dengan lebar */
  border-radius: 50%; /* Membuat sudut melengkung sempurna */
  object-fit: cover; /* Memastikan gambar mengisi area lingkaran */
  display: block; /* Pastikan elemen gambar mengambil ruang */
}
.container {
  width: 80%; /* atau nilai lebar tetap seperti 960px */
  margin: 0 auto; /* Memusatkan kontainer secara horizontal */
  padding: 20px; /* Opsional untuk memberi ruang di dalam kontainer */
}
p {
  font-size: 20px;
}
