.container {
  width: 80%; /* atau nilai lebar tetap seperti 960px */
  margin: 0 auto; /* Memusatkan kontainer secara horizontal */
  padding: 20px; /* Opsional untuk memberi ruang di dalam kontainer */
}

h1 {
  color: rgb(0, 0, 194);
  font-size: 50px;
}

.example1 {
  border: 2px solid;
  /* mengatur ketebalan border */
  padding: 10px;
  border-radius: 25px;
  /* border radius untuk megatur lengkung border */
}

h4 {
  border-left: 5px solid gold;
  /* mengatur ketebalan border left */
  padding: 5px;
  font-size: 30px;
  color: rgb(0, 0, 194);
}

p {
  font-size: 20px;
}

.gambar-bulat {
  width: 180px; /* Atur lebar */
  height: 180px; /* Atur tinggi yang sama dengan lebar */
  border-radius: 50%; /* Membuat sudut melengkung sempurna */
  object-fit: cover; /* Memastikan gambar mengisi area lingkaran */
  display: block; /* Pastikan elemen gambar mengambil ruang */
}


        /* ------ NAVIGASI ------ */

.nav {
  margin-top: 10px;
  /* background: gold; */
  padding: 10px;
}

.nav a {
  color: #1e87ff;
  text-decoration: none;
  border-radius: 22px;
  background: #eeeeee;
  padding: 6px 14px;
  /* padding-top : 6px; */
  /* padding-bottom : 6px; */
  /* padding-left : 14px */
  /* padding-right : 14px */
  margin-right: 8px; /* jarak luar antar link */
  transition: all ease-in-out 0.2s;
}

.nav .active {
  background: #1e87ff;
  color: white;
}

.nav a:hover {
  background: rgb(200, 200, 200);
  color: white;
}

body {
  font-family: Arial, sans-serif;
}


        /* ------ JADWAL ------ */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: rgb(0, 0, 194);
  color: rgb(255, 255, 255);
}


tr:nth-child(even) {/* nth-child(even) memilih baris tabel (<tr>) yang berada pada urutan genap. */
  background-color: #f4f4f4;
}


        /* ------ GALERI ------ */

.gallery {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.gallery h4 {
  color: indigo;
  font-size: 35px;
}

.gallery .card {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 10px;
  border: 1px solid #877272;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 1rem;
  text-align: center;
}

.gallery .card img {
  width: 200px;
  height: 230px;
  object-fit: cover;
}

.gallery .card figcaption {
  background-color: rgb(68, 77, 92);
  color: rgb(250, 250, 250);
  padding: 8px;
  margin-top: -3px;
}


        /* ------ FEEDBACK ------ */

/* Biar input tertentu jadi panjang penuh */
input[name="nama"],
input[name="umur"],
select[name="asal"],
input[name="rating"],
textarea[name="pesan"] {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 100px;
}

button {
  border: none; /* menghilangkan garis tepi button */
  padding: 10px 20px; /* mengatur tinggi dan panjang */
  border-radius: 8px; /* membuat sudut button menjadi bulat */
  font-weight: bold; /* mengubah text menjadi bold */
  cursor: pointer; /* mengubah cursor menjadi jari saat di atas tombol */
}

button[type="reset"]{
  background-color: #646464;
  color: #ffffff;
}

button[type="submit"] {
  background-color: #0d6efd;
  color: white;
}

.grid {
  text-align: right;
}
