body {
  background: linear-gradient(to right, #0066ff, #88e3ff);
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(0, 0, 194);
  font-size: 30px;
}

h4 {
  border-left: 3px solid gold;
  /* mengatur ketebalan border left */
  padding: 3px;
  font-size: 18px;
  color: rgb(0, 0, 194);
}

p {
  font-size: 15px;
}

.container {
  width: 80%; /* atau nilai lebar tetap seperti 960px */
  margin: 0 auto; /* Memusatkan kontainer secara horizontal */
  padding: 20px; /* Opsional untuk memberi ruang di dalam kontainer */
}

.example1 {
  padding: 20px;
  border-radius: 15px;
  /* border radius untuk megatur lengkung border */
  background: #ffffff29; /* abu-abu dengan transparansi (aturan transpirasinya semakin bawah semakin transparan)*/
  box-shadow: 0 4px 16px rgba(11, 0, 166, 0.45); /* untuk bayangan */
}

/* ------ NAVIGASI ------ */

.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.nav a {
  color: #1e87ff;
  text-decoration: none;
  border-radius: 22px;
  background: #eeeeee;
  padding: 6px 14px;
  /* padding-top : 6px; */
  /* padding-bottom : 6px; */
  /* padding-left : 14px */
  /* padding-right : 14px */
  margin-right: 8px; /* jarak luar antar link */
  transition: all ease-in-out 0.2s;
}

.nav .active {
  background: #1e87ff;
  color: white;
}

.nav a:hover {
  background: rgb(200, 200, 200);
  color: white;
}

/* ------ BERANDA & BIODATA ------ */

.gambar-bulat {
  width: 120px; /* Atur lebar */
  height: 120px; /* Atur tinggi yang sama dengan lebar */
  border-radius: 50%; /* Membuat sudut melengkung sempurna */
  object-fit: cover; /* Memastikan gambar mengisi area lingkaran */
  display: block; /* Pastikan elemen gambar mengambil ruang */
}

/* ------ JADWAL ------ */

.table-container {
  overflow-x: auto; /* mengatur tampilan konten yang melebar ke arah horizontal dan bisa di scroll */
  padding: 20px;
  border-radius: 15px;
  background: #ffffff29; /* abu-abu dengan transparansi (aturan transpirasinya semakin bawah semakin transparan)*/
  box-shadow: 0 4px 16px rgba(11, 0, 166, 0.45); /* untuk bayangan */
}
table {
  min-width: 600px;
  border-collapse: collapse; /* "border-colspan" adalah css yang digunakan khusus untuk tabel */
  /* gunanya : merapikan/menggabungkan garis batas border antar table agar menjadi 1 garis saja */
  margin-top: 10px; /* Memberi Jarak Dari Atas */
}

th,
td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: rgb(0, 0, 194);
  color: rgb(255, 255, 255);
}

tr:nth-child(odd) {
  /* nth-child(odd) memilih baris tabel (<tr>) yang berada pada urutan ganjil. */
  background-color: #e7e7e7;
}

tr:nth-child(even) {
  /* nth-child(even) memilih baris tabel (<tr>) yang berada pada urutan genap. */
  background-color: #f4f4f4;
}

/* ------ GALERI ------ */

.gallery {
  background-color: rgb(255, 255, 255);
  background: #ffffff00; /* abu-abu dengan transparansi (aturan transpirasinya semakin bawah semakin transparan)*/
}

.gallery .card {
  display: block;
  /* membuat item setelahnya selalu mengisi baris baru */
  width: 100%;
  height: auto;
  margin: 1px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 1rem;
  text-align: center;
}

.gallery .card img {
  width: 100%;
  height: 130px;
  object-fit: cover; /* Memastikan gambar mengisi area */
}

.gallery .card figcaption {
  background-color: rgb(68, 77, 92);
  color: rgb(250, 250, 250);
  padding: 8px;
  margin-top: -3px;
}

/* ------ FEEDBACK ------ */

/* Biar input tertentu jadi panjang penuh */
input[name='nama'],
input[name='umur'],
select[name='asal'],
input[name='rating'],
textarea[name='pesan'] {
  width: 100%;
  height: 30px;
  box-sizing: border-box; /* membuat lebar (width) dan tinggi (height) elemen termasuk padding dan border di dalamnya. */
}

input[name='inputEmail'] {
  height: 25px;
}

/* Pilihan Ganda */
input[type='radio'],
input[type='checkbox'] {
  transform: scale(1.2); /* ubah 1.5 jadi ukuran yang kamu mau */
  margin-right: 6px; /* beri jarak dari teks */
  cursor: pointer;
}

/* Untuk Pesan/Saran */
textarea {
  min-height: 100px;
}

button {
  border: none; /* menghilangkan garis tepi button */
  padding: 8px 16px; /* mengatur tinggi dan panjang */
  border-radius: 8px; /* membuat sudut button menjadi bulat */
  font-weight: bold; /* mengubah text menjadi bold */
  cursor: pointer;
}

.grid {
  text-align: right;
}

button[type='reset'] {
  background-color: #646464;
  color: #ffffff;
}

button[type='submit'] {
  background-color: #0d6efd;
  color: white;
}

/* tablet */

@media screen and (min-width: 600px) and (max-width: 1023px) {
  h1 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }
  .nav {
    flex-direction: row; /* ubah jadi horizontal */
    align-items: center;
    justify-content: center;
    gap: 1px;
  }
  .example1 {
    padding: 22px;
  }
  .gambar-bulat {
    width: 130px; /* Atur lebar */
    height: 130px; /* Atur tinggi yang sama dengan lebar */
  }
  .table-container {
    padding: 22px;
  }
  table {
    min-width: 400px;
    margin-top: 10px;
  }
  .gallery .card {
    display: inline-block;
    /* Tidak pindah baris (seperti inline) */
    /* Bisa diatur ukuran (seperti block) */
    width: 200px;
  }
  iframe {
    width: 100%;
    height: 255px;
  }
  input[name='nama'],
  input[name='umur'],
  select[name='asal'],
  input[name='rating'],
  textarea[name='pesan'] {
    height: 35px;
  }
  input[name='inputEmail'] {
    height: 30px;
  }
  input[type='radio'],
  input[type='checkbox'] {
    transform: scale(1.4);
  }
}

/* desktop */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  .nav {
    flex-direction: row; /* ubah jadi horizontal */
    align-items: center;
    justify-content: center;
  }
  .example1 {
    padding: 25px;
  }
  .gambar-bulat {
    width: 140px; /* Atur lebar */
    height: 140px; /* Atur tinggi yang sama dengan lebar */
  }
  .table-container {
    padding: 25px;
  }
  table {
    width: 100%;
  }
  .gallery .card {
    display: inline-block;
    /* Tidak pindah baris (seperti inline) */
    /* Bisa diatur ukuran (seperti block) */
    width: 595px;
  }
  .gallery .card img {
    width: 595px;
    height: 450px;
    /* gap: 200px; */
    object-fit: cover; /* Memastikan gambar mengisi area lingkaran */
  }
  iframe {
    width: 100%;
    height: 610px;
  }
  input[name='nama'],
  input[name='umur'],
  select[name='asal'],
  input[name='rating'],
  textarea[name='pesan'] {
    height: 40px;
  }
  input[name='inputEmail'] {
    height: 35px;
  }
  input[type='radio'],
  input[type='checkbox'] {
    transform: scale(1.6);
  }
}
