/* Reset sederhana */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Warna latar untuk memvisualisasikan blok */
header,
.header {
  /* background: #3b96ff; */
  /* color: white; */
  padding: 15px;
  text-align: center;
}

nav,
.nav {
  margin-top: 10px;
  /* background: gold; */
  padding: 10px;
}

.nav a {
  /* color: #1e87ff; */
  text-decoration: none;
  border-radius: 22px;
  /* background: #fff; */
  padding: 6px 14px;
  /* padding-top : 6px; */
  /* padding-bottom : 6px; */
  /* padding-left : 14px */
  /* padding-right : 14px */
  margin-right: 8px; /* jarak luar antar link */
}

main,
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f9f9f9;
}

/* Section / Artikel utama */
section,
.section {
  flex: 2;
  background: #e3f2fd;
  padding: 15px;
  border-radius: 6px;
}

/* Article khusus */
article,
.article {
  background: #bbdefb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Sidebar / aside */
aside,
.aside {
  flex: 1;
  background: rgb(255, 217, 0);
  padding: 15px;
  border-radius: 6px;
}

/* Footer */
footer,
.footer {
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
